/* GENERALI */
.text-gold {
    color: rgb(255, 143, 0);
}

.bg-blue {
    background-color: rgb(22, 91, 186);
}

.bg-lightgrey {
    background-color: rgb(247, 247, 247);
}

ul {
    list-style-type: none;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 5px;
    background-color: rgb(248, 249, 250);
}

/* nav header */
#header_nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 5px 0;
}

/* logo */
#header_nav_logo {
    width: 15%;
    padding: 0 20px;
}

/* barra ricerca */
#header_nav_search {
    width: 75%;
}

.ms_search {
    height: 45px;
}

/* menu con elemento dropdown */
#header_nav_dropdown {
    width: 10%;
}


/* MAIN */
main {
    display: flex;
    height: calc(100vh - 80px);
}

/* main sidebar */
#main_sidebar {
    width: 80px;
    flex-shrink: 0;
    padding: 25px 30px;
    color: #fff;
    background-color: rgb(5, 30, 52);
}

/* sidebar nav */
#main_sidebar_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* main content */
#main_content {
    flex-grow: 1;
    overflow-y: auto;
}

/* main content topbar */
#main_content_topbar {
    width: 100%;
    color: #fff;
    background-color: rgb(27, 114, 232);
    padding: 20px 0;
    margin-bottom: 25px;
}

/* main content mid */

/* block table */
.main_content_mid_block_center table {
    width: 100%;
}

.main_content_mid_block_center th, td {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}

.code {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-color: rgb(242, 101, 81);
    border-radius: 50%;
}

.ms_label {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

.done {
    background-color: green;
}

.process {
    background-color: orange;
}

.failed {
    background-color: red;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 15px;
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

/* RESPONSIVE */
@media screen and (min-width:992px) {
    
    #header_nav {
        padding: 0;
    }

    #main_sidebar {
        width: 160px;
        padding: 25px 35px;
    }

}