/* GENERALI */


/* HEADER */
header {
    height: 80px;
    /* DEBUG */
    background-color: red;
}

/* MAIN */
main {
    display: flex;
    height: calc(100vh - 80px);
}

/* main sidebar */
#main_sidebar {
    width: 80px;
    flex-shrink: 0;
    /* DEBUG */
    background-color: blue;
}

/* contenuto main */
#main_content {
    flex-grow: 1;
    overflow-y: auto;
    /* DEBUG */
    background-color: green;
}

#main_content_topbar {
    margin-bottom: 25px;
    /* DEBUG */
    background-color: aqua;
    height: 200px;
    width: 100%;
}

[class*="col-"] {
    /* DEBUG */
    background-color: yellow;
    border: 1px solid;
    height: 400px;
}
.col {
    /* DEBUG */
    background-color: azure;
    border: 1px solid;
    height: 200px;
}